# Najprostszy model

* Wykorzystanie tylko atrybutów numerycznych
* Porównanie regresji liniowej z modelem losowym
  * U(0,5) i U(4,5)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np
%matplotlib inline
calendar = pd.read_csv('../data/raw/calendar.csv')
listings = pd.read_csv('../data/raw/listings.csv')
reviews = pd.read_csv('../data/raw/reviews.csv')

In [37]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4195 entries, 0 to 4194
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            4195 non-null   int64
 1   listing_url                                   4195 non-null   object
 2   scrape_id                                     4195 non-null   int64
 3   last_scraped                                  4195 non-null   object
 4   source                                        4195 non-null   object
 5   name                                          4195 non-null   object
 6   description                                   4010 non-null   object
 7   neighborhood_overview                         2054 non-null   object
 8   picture_url                                   4195 non-null   object
 9   host_id                                       4195 non-null   int64
 10  host_url                                      4195 non-null   object
 11  host_name                                     4192 non-null   object
 12  host_since                                    4192 non-null   object
 13  host_location                                 3403 non-null   object
 14  host_about                                    2186 non-null   object
 15  host_response_time                            2566 non-null   object
 16  host_response_rate                            2566 non-null   object
 17  host_acceptance_rate                          2831 non-null   object
 18  host_is_superhost                             4160 non-null   object
 19  host_thumbnail_url                            4192 non-null   object
 20  host_picture_url                              4192 non-null   object
 21  host_neighbourhood                            1879 non-null   object
 22  host_listings_count                           4192 non-null   float64
 23  host_total_listings_count                     4192 non-null   float64
 24  host_verifications                            4192 non-null   object
 25  host_has_profile_pic                          4192 non-null   object
 26  host_identity_verified                        4192 non-null   object
 27  neighbourhood                                 2054 non-null   object
 28  neighbourhood_cleansed                        4195 non-null   object
 29  neighbourhood_group_cleansed                  4195 non-null   object
 30  latitude                                      4195 non-null   float64
 31  longitude                                     4195 non-null   float64
 32  property_type                                 4195 non-null   object
 33  room_type                                     4195 non-null   object
 34  accommodates                                  4195 non-null   int64
 35  bathrooms                                     2676 non-null   float64
 36  bathrooms_text                                4192 non-null   object
 37  bedrooms                                      3574 non-null   float64
 38  beds                                          2666 non-null   float64
 39  amenities                                     4195 non-null   object
 40  price                                         2674 non-null   object
 41  minimum_nights                                4195 non-null   int64
 42  maximum_nights                                4195 non-null   int64
 43  minimum_minimum_nights                        4195 non-null   int64
 44  maximum_minimum_nights                        4195 non-null   int64
 45  minimum_maximum_nights                        4195 non-null   int64
 46  maximum_maximum_nights                        4195 non-null   int64
 47  minimum_nights_avg_ntm                        4195 non-null   float64
 48  maximum_nights_avg_ntm                        4195 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3933 non-null   object
 51  availability_30                               4195 non-null   int64
 52  availability_60                               4195 non-null   int64
 53  availability_90                               4195 non-null   int64
 54  availability_365                              4195 non-null   int64
 55  calendar_last_scraped                         4195 non-null   object
 56  number_of_reviews                             4195 non-null   int64
 57  number_of_reviews_ltm                         4195 non-null   int64
 58  number_of_reviews_l30d                        4195 non-null   int64
 59  first_review                                  3223 non-null   object
 60  last_review                                   3223 non-null   object
 61  review_scores_rating                          3223 non-null   float64
 62  review_scores_accuracy                        3223 non-null   float64
 63  review_scores_cleanliness                     3223 non-null   float64
 64  review_scores_checkin                         3223 non-null   float64
 65  review_scores_communication                   3223 non-null   float64
 66  review_scores_location                        3223 non-null   float64
 67  review_scores_value                           3223 non-null   float64
 68  license                                       2657 non-null   object
 69  instant_bookable                              4195 non-null   object
 70  calculated_host_listings_count                4195 non-null   int64
 71  calculated_host_listings_count_entire_homes   4195 non-null   int64
 72  calculated_host_listings_count_private_rooms  4195 non-null   int64
 73  calculated_host_listings_count_shared_rooms   4195 non-null   int64
 74  reviews_per_month                             3223 non-null   float64
dtypes: float64(18), int64(21), object(36)
memory usage: 2.4+ MB

In [38]:
rating_columns = [
    "review_scores_rating",
    "review_scores_accuracy",
    "review_scores_cleanliness",
    "review_scores_checkin",
    "review_scores_communication",
    "review_scores_location",
    "review_scores_value",
]
listings["avg_rating"] = listings[rating_columns].mean(axis=1)

In [39]:
listings["price"] = listings["price"].str.replace("$", "").str.replace(",", "").astype(float)

In [40]:
listings["avg_rating"].describe()

count    3223.000000
mean        4.768786
std         0.274342
min         0.714286
25%         4.705714
50%         4.838571
75%         4.920000
max         5.000000
Name: avg_rating, dtype: float64

In [41]:
drop_columns = [
    "id",
    "listing_url",
    "scrape_id",
    "last_scraped",
    "source",
    "name",
    "description",
    "neighborhood_overview",
    "picture_url",
    "host_id",
    "host_url",
    "host_name",
    "host_since",
    "host_location",
    "host_about",
    "host_response_time",
    "host_response_rate",
    "host_acceptance_rate",
    "host_is_superhost",
    "host_thumbnail_url",
    "host_picture_url",
    "host_neighbourhood",
    "host_verifications",
    "host_has_profile_pic",
    "host_identity_verified",
    "neighbourhood",
    "neighbourhood_cleansed",
    "neighbourhood_group_cleansed",
    "latitude",
    "longitude",
    "property_type",
    "room_type",
    "bathrooms_text",
    "amenities",
    "minimum_nights",
    "maximum_nights",
    "calendar_updated",
    "has_availability",
    "calendar_last_scraped",
    "first_review",
    "last_review",
    "review_scores_rating",
    "review_scores_accuracy",
    "review_scores_cleanliness",
    "review_scores_checkin",
    "review_scores_communication",
    "review_scores_location",
    "review_scores_value",
    "license",
    "instant_bookable",
    "reviews_per_month",
]
listings = listings.drop(columns=drop_columns)

In [42]:
listings.head()

,host_listings_count,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,price,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,...,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,avg_rating
0,1.0,1.0,2,1.0,1.0,1.0,40.0,1,1,1125,...,78,78,37,37,4,1,0,1,0,4.880000
1,1.0,2.0,3,NaN,1.0,NaN,NaN,4,4,365,...,0,0,14,0,0,1,1,0,0,4.785714
2,1.0,4.0,4,NaN,2.0,NaN,NaN,92,92,1125,...,0,0,10,0,0,1,1,0,0,4.900000
3,1.0,3.0,3,1.0,1.0,2.0,88.0,92,92,365,...,88,363,0,0,0,1,1,0,0,NaN
4,1.0,1.0,2,NaN,NaN,NaN,NaN,92,92,1125,...,0,0,5,0,0,1,1,0,0,4.657143

In [43]:
print(len(listings))
print(listings["avg_rating"].isna().sum())

listings.dropna(inplace=True)
print(len(listings))

4195
972
2052

In [44]:
listings

,host_listings_count,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,price,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,...,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,avg_rating
0,1.0,1.0,2,1.0,1.0,1.0,40.0,1,1,1125,...,78,78,37,37,4,1,0,1,0,4.880000
5,1.0,1.0,2,1.0,1.0,1.0,94.0,5,5,28,...,10,10,4,4,0,1,1,0,0,5.000000
6,15.0,15.0,13,2.0,3.0,9.0,190.0,1,4,22,...,89,359,22,5,0,15,15,0,0,4.597143
7,3.0,4.0,2,1.0,1.0,1.0,100.0,2,2,200,...,80,260,121,25,1,1,1,0,0,4.818571
11,2.0,3.0,4,1.0,2.0,2.0,108.0,2,2,1125,...,61,333,49,24,1,2,2,0,0,4.860000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4186,2.0,2.0,2,1.0,1.0,2.0,336.0,2,2,1125,...,78,345,140,19,2,2,0,2,0,4.680000
4191,1.0,1.0,5,1.5,3.0,4.0,249.0,5,5,90,...,38,112,12,9,2,1,1,0,0,4.845714
4192,1.0,1.0,1,1.0,1.0,1.0,61.0,2,28,30,...,46,46,5,1,0,1,0,1,0,4.457143
4193,5.0,5.0,2,1.5,1.0,1.0,133.0,60,60,180,...,74,349,1,1,0,5,5,0,0,5.000000
4194,2.0,3.0,3,1.0,1.0,2.0,150.0,92,92,1125,...,90,180,88,0,0,2,2,0,0,4.778571

In [45]:
print(len(listings))
Y = listings["avg_rating"]
X = listings.drop(columns=["avg_rating"])

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Linear regression")
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

print("-"*30)

print("Random model - U(0,5)")
y_random_pred = np.random.rand(len(y_test)) * 5
mse_random = mean_squared_error(y_test, y_random_pred)
r2_random = r2_score(y_test, y_random_pred)
print(f"Mean Squared Error: {mse_random:.2f}")
print(f"R-squared: {r2_random:.2f}")

print("-"*30)

print("Random model - U(4,5)")
y_random_pred = np.random.rand(len(y_test)) + 4
mse_random = mean_squared_error(y_test, y_random_pred)
r2_random = r2_score(y_test, y_random_pred)
print(f"Mean Squared Error: {mse_random:.2f}")
print(f"R-squared: {r2_random:.2f}")

2052
Linear regression
Mean Squared Error: 0.06
R-squared: 0.13
------------------------------
Random model - U(0,5)
Mean Squared Error: 7.33
R-squared: -111.87
------------------------------
Random model - U(4,5)
Mean Squared Error: 0.22
R-squared: -2.46

## Porównanie z danymi wstępnie przetworzonymi

In [47]:
listings = pd.read_csv('../data/processed/listings.csv')
print(len(listings))
listings.dropna(inplace=True)
print(len(listings))
Y = listings["avg_rating"]
X = listings.drop(columns=["avg_rating"])

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Linear regression")
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

print("-"*30)

print("Random model - U(0,5)")
y_random_pred = np.random.rand(len(y_test)) * 5
mse_random = mean_squared_error(y_test, y_random_pred)
r2_random = r2_score(y_test, y_random_pred)
print(f"Mean Squared Error: {mse_random:.2f}")
print(f"R-squared: {r2_random:.2f}")

print("-"*30)

print("Random model - U(4,5)")
y_random_pred = np.random.rand(len(y_test)) + 4
mse_random = mean_squared_error(y_test, y_random_pred)
r2_random = r2_score(y_test, y_random_pred)
print(f"Mean Squared Error: {mse_random:.2f}")
print(f"R-squared: {r2_random:.2f}")

4195
1829
Linear regression
Mean Squared Error: 0.07
R-squared: -0.09
------------------------------
Random model - U(0,5)
Mean Squared Error: 7.39
R-squared: -107.46
------------------------------
Random model - U(4,5)
Mean Squared Error: 0.23
R-squared: -2.33

In [49]:
listings = pd.read_csv('../data/processed/listings.csv')
listings.drop(columns=["price", "beds", "bathrooms"], inplace=True)
print(len(listings))
listings.dropna(inplace=True)
print(len(listings))
Y = listings["avg_rating"]
X = listings.drop(columns=["avg_rating"])

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Linear regression")
print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

print("-"*30)

print("Random model - U(0,5)")
y_random_pred = np.random.rand(len(y_test)) * 5
mse_random = mean_squared_error(y_test, y_random_pred)
r2_random = r2_score(y_test, y_random_pred)
print(f"Mean Squared Error: {mse_random:.2f}")
print(f"R-squared: {r2_random:.2f}")

print("-"*30)

print("Random model - U(4,5)")
y_random_pred = np.random.rand(len(y_test)) + 4
mse_random = mean_squared_error(y_test, y_random_pred)
r2_random = r2_score(y_test, y_random_pred)
print(f"Mean Squared Error: {mse_random:.2f}")
print(f"R-squared: {r2_random:.2f}")

4195
2010
Linear regression
Mean Squared Error: 0.05
R-squared: 0.10
------------------------------
Random model - U(0,5)
Mean Squared Error: 7.08
R-squared: -122.97
------------------------------
Random model - U(4,5)
Mean Squared Error: 0.20
R-squared: -2.49